<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Final Project</title>
</head>

<body>
  <h1> Final Project - Smart Digital Platforms: Cloud Computing, Security & Big Data</h1>
	<h2>IoT Data Aggregation & Analysis</h2>
	<h2>GOAL</h2>
	<p>Develop a system that collects, stores, and analyzes IoT sensor data. The system will use SQLite for data storage and Hadoop for batch processing to compute statistical summaries (average, minimum, and maximum values). Flask will provide an API for data ingestion and retrieval, and Docker will be used to containerize all components, including individual virtual sensors.</p>
	<hr>
	<h3>Group members</h3>
	<ul>
		<li>Felix Brossard</li>
		<li>Sebastian Arroyo</li>
		<li>Ram Singh</li>
	</ul>
</body>

</html>
